/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up grid layout */
body {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
  margin: 0; /* Remove default margin */
}

/* Ensure the todo-contain div takes up at least one full page height */
.todo-contain {
  padding: 20px; 
  height: calc(100vh - 80px); /* Adjust according to the height of footer */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

/* Footer styles */
.footer {
  background-color: #343a40; /* Dark background color */
  color: #ffffff; /* Text color */
  position: fixed;
  bottom: 0;
  left: 0; /* Ensures the footer aligns with the left edge */
  width: 100%;
  padding: 20px; /* Adjust padding as needed */
}

.text-custom {
  font-size: 14px;
}

/* Default light mode */
body.light-mode {
  background-image: url("assets/lightMode.jpg");
  background-size: cover;
  background-color: #347f39;
  /* background-color: #bde6ad; Light blue background color */
}

.todo-contain.light-mode {
  background-color: #4aca1800;
  color: #212529;
}

.light-mode .navbar-brand-custom {
  color: #000000;
}

.light-mode .navbar-nav .nav-link {
  color: #212529;
}

.light-mode .card {
  background-color: #cbf9d8;
  color: #212529;
}

/* Dark mode */
body.dark-mode {
  background-image: url("assets/darkMode.jpg");
  background-size: cover;
  background-color: #232824; /* Dark blue background color */
}

.todo-contain.dark-mode {
  background-color: #23282400;
  color: #000000;
}

.dark-mode .navbar-brand-custom {
  color: white;
}

.dark-mode .navbar-nav .nav-link {
  color: #000000;
}

.dark-mode .card {
  background-color: #cbf9d8;
  color: #000000;
}

/* Common styles */
.tasks-summary {
  text-align: center;
}

.tasks-summary .card {
  border-radius: 8px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tasks-summary h5 {
  margin: 10px 0;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 30px 0;
  color: #007bff;
}

input {
  width: 100%;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.kg-row {
  margin: 10px 0;
  align-items: center;
}

.kg-button {
  width: 100%;
  height: 100%;
}

.todo-contain {
  text-align: center;
  padding: 20px;
  background-color: #add8e6; /* Adjusted background color for light mode */
}

.form-check-input {
  margin-left: 20px;
}

.navbar-brand-custom {
  font-weight: 900;
  font-size: 35px;
  color: #ffffff;
}

.task-card {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tasks-summary-custom {
  margin: 20px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-header .form-check {
  margin: 0;
}

.task-body {
  margin: 10px 0;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-completed {
  background-color: #d4edda;
}

.bg-pending {
  background-color: #f8d7da;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

/* Custom styles for the button */
.btn-custom-task {
  background-color: #347f39; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none;
  padding: 6px 6px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.btn-custom {
  background-color: #96ca1d; /* Button background color */
  color: #ffffff; /* Button text color */
  border: none;
  padding: 6px 6px;
  padding-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* Hover effect for the button */
.btn-custom-task:hover {
  background-color: #b6cea8; /* Darker color on hover */
}
